$fontColor: #364f65;
$borderColor: #dbdee5;
$borderRadius: 6px;
$border: solid 1px $borderColor;
$buttonColor: #4390ed;
$whiteButtonBorderColor: #4390ed;
$allocateCardWidth: 280px;
$allocateCardHeight: 100px;
$selectedColor: #e4edf7;
$backgroundColor: #eeeeee;
